USE [master]
GO
/****** Object:  Database [SocialStudy]    Script Date: 17.10.2020 14:00:49 ******/
CREATE DATABASE [SocialStudy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocialStudy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\SocialStudy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SocialStudy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\SocialStudy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocialStudy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocialStudy]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 17.10.2020 14:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[id_agent] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[id_agent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OneResearch]    Script Date: 17.10.2020 14:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OneResearch](
	[id_OR] [int] IDENTITY(1,1) NOT NULL,
	[id_research] [int] NOT NULL,
	[Form] [nvarchar](max) NOT NULL,
	[Start_date] [date] NOT NULL,
	[Finish_date] [date] NOT NULL,
 CONSTRAINT [PK_OneResearch] PRIMARY KEY CLUSTERED 
(
	[id_OR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipantResearch]    Script Date: 17.10.2020 14:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantResearch](
	[id_PR] [int] IDENTITY(1,1) NOT NULL,
	[id_respondent] [int] NOT NULL,
	[id_OR] [int] NOT NULL,
	[id_agent] [int] NOT NULL,
	[SocialPosition] [nvarchar](max) NOT NULL,
	[Agreement] [nvarchar](50) NULL,
	[Refusal] [nvarchar](50) NULL,
	[NextAgreement] [nvarchar](50) NULL,
 CONSTRAINT [PK_ParticipantResearch] PRIMARY KEY CLUSTERED 
(
	[id_PR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 17.10.2020 14:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[Researchs]    Script Date: 17.10.2020 14:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Researchs](
	[id_research] [int] IDENTITY(1,1) NOT NULL,
	[Topic] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Researchs] PRIMARY KEY CLUSTERED 
(
	[id_research] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respondents]    Script Date: 17.10.2020 14:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respondents](
	[id_respondent] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Born] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Respondents] PRIMARY KEY CLUSTERED 
(
	[id_respondent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OneResearch]  WITH CHECK ADD  CONSTRAINT [FK_OneResearch_Researchs] FOREIGN KEY([id_research])
REFERENCES [dbo].[Researchs] ([id_research])
GO
ALTER TABLE [dbo].[OneResearch] CHECK CONSTRAINT [FK_OneResearch_Researchs]
GO
ALTER TABLE [dbo].[ParticipantResearch]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantResearch_Agents] FOREIGN KEY([id_agent])
REFERENCES [dbo].[Agents] ([id_agent])
GO
ALTER TABLE [dbo].[ParticipantResearch] CHECK CONSTRAINT [FK_ParticipantResearch_Agents]
GO
ALTER TABLE [dbo].[ParticipantResearch]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantResearch_OneResearch] FOREIGN KEY([id_OR])
REFERENCES [dbo].[OneResearch] ([id_OR])
GO
ALTER TABLE [dbo].[ParticipantResearch] CHECK CONSTRAINT [FK_ParticipantResearch_OneResearch]
GO
ALTER TABLE [dbo].[ParticipantResearch]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantResearch_Respondents] FOREIGN KEY([id_respondent])
REFERENCES [dbo].[Respondents] ([id_respondent])
GO
ALTER TABLE [dbo].[ParticipantResearch] CHECK CONSTRAINT [FK_ParticipantResearch_Respondents]
GO
USE [master]
GO
